<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" 
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/bookwizard.css">
	<link rel = "icon" href="/images/favicon.ico">
	<script src="https://cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
</head>