body {
	padding-top: 3rem;
	padding-bottom: 1rem;
	color: #5a5a5a;
}
#msg{
	max-width:700px;
}
#delete-form {
	display: inline;
}


/* ============================================= HOME ================================= */
#home {
 background-color:white;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h3 {
	font-weight: 400;
	margin-top: 10px;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0; 
}
.featurette-image {
	vertical-align: auto;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.nav-link:hover{
	font-weight:600;
}

.jumbotronBook{
	width:100%;
	height:auto;
	background-image:url(/images/book.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.jumbotronEbook{
	width:100%;
	height:auto;
	background-image:url(/images/ebook.jpg); 
	background-size: cover;
	background-repeat: no-repeat
}

.jumbotronExchange {
	width:100%;
	height:auto;
	background-image:url(/images/exchangeJumbo.jpg); 
	background-size: cover;
	background-repeat: no-repeat
}

/* ========================================== BLOG/EVENT ======================================= */


ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}


ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}


.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}


li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


#blog_event {
    background: #D3CCE3; 
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3); 
	background: linear-gradient(to right, #E9E4F0, #D3CCE3); 
	min-height: 100vh;
}

.text-gray {
    color: #999;
}

/* ========================================== SHOW_BLOG ===================================== */

#show_blog {
  min-height: 100vh;
  background-color: #E8CBC0;
  background-image: linear-gradient(to right, #E8CBC0, #636FA4);
}  

.custom-scrollbar-js,
.custom-scrollbar-css {
  height: 500px;
}

.blogimg{
	max-width: 50%;
}


.custom-scrollbar-css {
  overflow-y: scroll;
}


.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}


.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}


.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #E8CBC0;
  background-image: linear-gradient(to right, #E8CBC0, #636FA4);
}

/* ======================================= CART ====================================== */

#cart {
	background: #D3CCE3;
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
	background: linear-gradient(to right, #E9E4F0, #D3CCE3);
	min-height: 100vh;
	}

/* ========================================= CHECKOUT ===================================== */

#check_container {
	max-width: 1000px;
}

#checkout {
	min-height: 100vh;
	background: #D3CCE3;
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
	background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}

/* ================================== MY-ORDERS ================================= */

#order{
	max-width:900px;
}

/* ======================================= SIGN-IN ==================================== */

.btn-google {
	color: white;
	background-color: #ea4335;
}
.btn-link {
	color: #323232;
}
.btn-link:hover {
	color: #000000;
}