
<%- include("../partials/top") %>
<body>
	<%- include("../partials/header") %>
	
	<div class="container my-5 col-lg-8">
		<form action = "/books" method = "POST">
			<div class = "form-row">
				<div class="form-group col-md-6">
					<label for="formGroupExampleInput">Title</label>
					<input type="text" class="form-control" name="book[title]" placeholder="Title" required>
				</div>
				<div class="form-group col-md-6">
					<label for="formGroupExampleInput2">Author</label>
					<input type="text" class="form-control" name="book[author]" placeholder="Author" required>
				</div>
				<div class="form-group col-md-6">
					<label for="formGroupExampleInput2">Image url</label>
					<input type="text" class="form-control" name="book[image]" placeholder="Image url" required>
				</div>
				<div class="form-group col-md-6">
					<label for="formGroupExampleInput2">Price</label>
					<input type="number" class="form-control" name="book[price]" placeholder="Price" required>
				</div>
				<div class="form-group col-md-6">
					<label for="formGroupExampleInput2">Category</label>
					<select class="custom-select" name="book[category]" required>
						<option selected>Choose...</option>
						<option value="Biography">Biography</option>
						<option value="Comics">Comics</option>
						<option value="Fiction">Fiction</option>
						<option value="Horror">Horror</option>
						<option value="Mystery">Mystery</option>
						<option value="Romance">Romance</option>
						<option value="Thriller">Thriller</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="formGroupExampleInput2">Publication</label>
					<input type="text" class="form-control" name="book[publication]" placeholder="Publication" required>
				</div>
				<div class="form-group col-md-3">
					<label for="formGroupExampleInput2">Pages</label>
					<input type="number" class="form-control" name="book[pages]" placeholder="Pages" required>
				</div>
				<div class="form-group col-md-3">
					<label for="formGroupExampleInput2">BestSeller</label>
					<select class="custom-select" name="book[bestseller]">
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="formGroupExampleInput2">Condition</label>
					<select class="custom-select" name="book[condition]">
						<option value="No">New</option>
						<option value="Yes">Old</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="formGroupExampleInput2">Type</label>
					<select class="custom-select" name="book[type]">
						<option value="No">Hardcover</option>
						<option value="Yes">Paperpack</option>
					</select>
				</div>
				
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Description</label>
				<textarea class="form-control" name="book[description]" rows="4" required></textarea>
				<script>
					var editor = CKEDITOR.replace( 'book[description]' );
					editor.on( 'required', function( evt ) {
						 alert( 'Description content is required.' );
						 evt.cancel();
					 });
				</script>
  			</div>
			<button type="submit" class="btn btn-primary btn-block">Submit</button>
		</form>
	</div>
	
	<%- include("../partials/footer") %>
